<launch>

	<!--	DISPLAY NAME	NODE NAME	RUN NAME	ARGUMENTS	-->
	<!-- <node name="Scanner"	pkg="sonar"	type="sonar"	/> -->
	<!-- <node name="Injector"	pkg="sonarInjector"	type="sonarInjector"	/> -->
	<!-- <node name="Pointcloud"	pkg="sonarPointCloud"	type="sonarPointCloud"	/> -->

	<node pkg="nodelet" type="nodelet" name="sonarManager" output="screen" respawn="true" args="manager"/>
	
	<!-- fake laser -->
	<node pkg="nodelet" type="nodelet" name="sonarToLaser" args="load pointcloud_to_laserscan/CloudToScan sonarManager">
    	  <param name="output_frame_id" value="/base_sonar"/>
    	  <remap from="cloud" to="sonarPC"/>
	  <remap from="scan" to="sonarLaser"/>
	</node>

</launch>
